<%- include('partials/header.ejs'); %>


<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Our mission is to prepare you for an AI assisted future</h1>
                    <p class="lead fw-normal text-muted mb-4">We aim to provide a user friendly and easily accessible application that helps medical professionals update and keep track of patient medical records, communicate more effectively with each other, and use available technologies to improve the quality of the medical care they can provide.</p>
                    <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our founding</h2>
                <p class="lead fw-normal text-muted mb-0">Over one year ago it came to our attention that technologies currently available has the potential to improve the quality of service provided by medical practitioners and in doing so, assist our doctors in making their processes more effective, and establishing a strong hub fit for efficient and cost effective interaction and cooperation between private medical practices, public hospitals, and pharmacies.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Growth &amp; beyond</h2>
                <p class="lead fw-normal text-muted mb-0">Our team is now working toward paving the way for AI integration in Medicine, which will contribute to timely and accurate patient diagnoses, a more effective network of medical professionals and researchers, thereby improving the quality of life for everyone involved in the consultation or research process. From patients to their physicians, or researchers to dentists, Omni-Med is focused on improving medicine for all.</p>
            </div>
        </div>
    </div>
</section>

<!-- Page Content-->
<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="text-center text-white mb-5">
            <h1 class="fw-bolder">Your Experience with our software</h1>
            <p class="lead fw-normal text-muted mb-0">Screen examples</p>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="calendar.png" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link text-white" href="#!">Appointment Calendar</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="productivity.png" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link text-white" href="#!">Productivity Screen</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="consent_form.png" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link text-white" href="#!">Patient Consent Form</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="consultations.png" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link text-white" href="#!">Consultations List</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4 text-white">Let's build something together</h2>
        <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
    </div>
</section>


<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality, efficiency, and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Marishka Petrović</h5>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Vedrana Johansson</h5>
                    <div class="fst-italic text-muted">Operations Manager</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Rasheed Petrović</h5>
                    <div class="fst-italic text-muted">CTO</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                    <h5 class="fw-bolder">Anita Ackermann</h5>
                    <div class="fst-italic text-muted">CFO</div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs'); %> 